.navbar {
    height: 100px;
    background-color: #e60012;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    .part {
        display: flex;
        gap:20px;
    }

    a {
        color: white;
        text-decoration: none;
    }
}